{% extends "../master.html" %}

{% block title %}Ajouter de budget{% endblock  %}

{% comment %} SIDEBAR {% endcomment %}
{% block sidebar %}
<a href="#" class="brand">
  <i class='bx bxs-smile'></i>
  <span class="text">AdminHub</span>
</a>
<ul class="side-menu top">
  <li>
      <a href="adminIndex">
          <i class='bx bxs-dashboard' ></i>
          <span class="text">Acceuil</span>
      </a>
  </li>
  <li>
      <a href="adminUser">
          <i class='bx bxs-user' ></i>
          <span class="text">Utilisateur</span>
      </a>
  </li>
  <li>
      <a href="adminSuivi">
          <i class='bx bxs-bank' ></i>
          <span class="text">Suivi des budget</span>
      </a>
  </li>
  <li>
      <a href="adminStatistique">
          <i class='bx bxs-doughnut-chart' ></i>
          <span class="text">Statistique</span>
      </a>
  </li>
</ul>
<ul class="side-menu">
  <li>
      <a href="Settings.html">
          <i class='bx bxs-cog' ></i>
          <span class="text">Parametre</span>
      </a>
  </li>
  <li>
      <a href="{% url 'deconnexion' %}" class="logout">
          <i class='bx bxs-log-out-circle' ></i>
          <span class="text">Deconnexion</span>
      </a>
  </li>
</ul>
{% endblock  %}

{% comment %} BUDGET {% endcomment %}
{% block budgetTotal %}
{{ total_montant }}
{% endblock  %}

{% block balance %}
{{ total_depense }}
{% endblock  %}

{% block solde %}
{{ solde }}
{% endblock  %}

{% comment %} Navbar head {% endcomment %}
{% block navbarhead %}
<a class="active" href=""></a>
{% endblock  %}

{% block content %}
<div class="container mt-5" data-aos="zoom-in">
	<div class="row justify-content-center">
	  <div class="col-md-6">
		<div class="card">
		  <div class="card-header">
			Details
		  </div>
		  <div class="card-body">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Rubrique :</th>
              <td>{{depense1.rubrique}}</td>
            </tr>
            <tr>
              <th>Ligne :</th>
              <td>{{depense1.ligne}}</td>
            </tr>
            <tr>
              <th>Date :</th>
              <td>{{depense1.date}}</td>
            </tr>
            <tr>
              <th>Heure :</th>
              <td>{{depense1.times}}</td>
            </tr>
            <tr>
              <th>Montant :</th>
              <td>{{depense1.montant}}</td>
            </tr>
            <tr>
              <th>Id comptable :</th>
              <td>{{depense1.users_id.id}}</td>
            </tr>
            <tr>
              <th>Nom comptable :</th>
              <td>{{depense1.users_id.pseudo}}</td>
            </tr>
            <tr>
              <th>Contact :</th>
              <td>{{depense1.users_id.contact}}</td>
            </tr>
          </tbody>
        </table>
          </div><br>
            <a href="{% url "adminSuivi" %}" class="btn btn-success" style="width: 100%;">Retour</a>
			  
			</form>
		  </div>
		</div>
	  </div>
	</div>
  </div>
{% endblock  %}