{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique de Dépenses Mensuelles</title>

	<link href="{% static 'assets/node_modules/boxicons/css/boxicons.min.css'%}" rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'assets/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/bootstrap.min.css'%}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<style>
    select{
        max-width: 190px;
        background-color: #f5f5f5;
        color: #242424;
        padding: .15rem .5rem;
        min-height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        line-height: 1.15;
        box-shadow: 0px 10px 20px -18px;
    }
      .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        font-size: 0.75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem; }
      
      .progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #5AE4A8}
      
      .progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem; }
      
      .progress-bar-animated {
        animation: progress-bar-stripes 1s linear infinite; }
      
      
</style>
</head>
<body>
    <div class="container mt-3">
        <div class="form-outline mb-4">
            <div class="row">
                <div class="col">
                    <a href="{% url "adminIndex" %}" class="btn btn-success">Retour dans l'acceuil</a>

                    <h1>Dépenses en {{ selected_year }}</h1>
                    <label for="year">Choisir une année :</label>
                    
                    <select id="year" class="form-select">
                        
                        <option value="2024" {%if selected_year == 2024 %}selected {%endif%}>2024</option>
                        <option value="2025" {%if selected_year == 2025 %}selected {%endif%}>2025</option>
                        <option value="2027" {%if selected_year == 2027 %}selected {%endif%}>2027</option>
                    <!-- Ajoutez d'autres années au besoin -->
                </select>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
    <canvas id="myChart" width="100" height="40"></canvas>
    <script>

        document.getElementById('year').addEventListener('change', function() {
            var selectedYear = this.value;
            // Rechargez la page avec l'année sélectionnée
            window.location.href = window.location.pathname + '?selected_year=' + selectedYear;
        });
        
        // Récupérer les noms des mois et les pourcentages des dépenses
        const mois = Object.keys({{ depenses_en_pourcentage|safe }});
        const pourcentages = Object.values({{ depenses_en_pourcentage|safe }});

        // Créer le graphique
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: mois,
                datasets: [{
                    label: 'Dépenses en Pourcentage',
                    data: pourcentages,
                    backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
                    borderWidth: 1
                }]
            },
            
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Pourcentage (%)'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Mois'
                        }
                    }
                }
            }
        });

        AOS.init();
    </script>

    <br><br><br>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h2 class="majuscule">Depense de l'annee {{selected_year}} avec le budget {{budget_initial}} MGA</h2>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Mois
                      </th>
                      <th>
                        Depense
                      </th>
                      <th>
                        Pourcentage
                      </th>
                      <th>
                        %
                      </th>
                      <th>
                        Details
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for mois, montant in depenses_en_pourcentage.items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ mois }}</td>
                        <td>{{ montant }} Ar</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-gradient-success" role="progressbar" style="width: {{ montant }}%;" aria-valuenow="{{ montant }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>{{ montant }}%</td>
                        <td><a href="adminInfoparmois?mois={{ mois }}-{{selected_year}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Plus d'information"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                        </svg></a></td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'assets/script.js'%}"></script>
	{% comment %} <script src="{% static 'assets/chart.js'%}"></script> {% endcomment %}
	<script src="{% static 'assets/bootstrap/bootstrap.min.js'%}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>
</body>
</html>
