{% extends "../master.html" %}

{% block title %}Suivi des budgets{% endblock  %}

{% comment %} SIDEBAR {% endcomment %}
{% block sidebar %}
<a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">AdminHub</span>
</a>
<ul class="side-menu top">
    <li>
        <a href="adminIndex">
            <i class='bx bxs-dashboard' ></i>
            <span class="text">Acceuil</span>
        </a>
    </li>
    <li>
        <a href="adminUser">
            <i class='bx bxs-user' ></i>
            <span class="text">Utilisateur</span>
        </a>
    </li>
    <li class="active">
        <a href="adminSuivi">
            <i class='bx bxs-bank' ></i>
            <span class="text">Suivi des budgets</span>
        </a>
    </li>
    <li>
        <a href="adminStatistique">
            <i class='bx bxs-doughnut-chart' ></i>
            <span class="text">Statistique</span>
        </a>
    </li>
</ul>
<ul class="side-menu">
    <li>
        <a href="Settings.html">
            <i class='bx bxs-cog' ></i>
            <span class="text">Parametre</span>
        </a>
    </li>
    <li>
        <a href="{% url 'deconnexion' %}" class="logout">
            <i class='bx bxs-log-out-circle' ></i>
            <span class="text">Deconnexion</span>
        </a>
    </li>
</ul>
{% endblock  %}

{% comment %} Navbar head {% endcomment %}
{% block navbarhead %}
<a class="active" href="adminSuivi">Suivi des budgets</a>
{% endblock  %}

{% comment %} BUDGET {% endcomment %}
{% block budgetTotal %}
{{ total_montant }}
{% endblock  %}

{% block balance %}
{{ total_depense }}
{% endblock  %}

{% block solde %}
{{ solde }}
{% endblock  %}

{% comment %} Content {% endcomment %}
{% block content %}
<div class="table-data">
    <div class="order">
        <div class="head">
            <div class="container">
                <h2 class="majuscule">suivi des budget</h2>
                <br> 
                
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nom de la rubrique</th>
                      <th>Ligne Budgetaire</th>
                      <th>Date</th>
                      <th>Heure</th>
                      <th>Montant</th>
                      <th>info</th>
                      <th>Supprimer</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for depenses in depense %}
                    <tr>
                        <td>{{depenses.rubrique}}</td>
                        <td>{{depenses.ligne}}</td>
                        <td>{{depenses.date}}</td>
                        <td>{{depenses.times}}</td>
                        <td>{{depenses.montant}} MGA</td>
                        <td><a href="{% url "adminInfo" depenses.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Plus d'information"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                          </svg></a></td>
                          <td><form id="deleteDepenseForm" action="{% url 'supprimer_depense' depenses.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="button" onclick="confirmDeleteDepense()" style="border: none; background-color: transparent;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle-fill ms-3" viewBox="0 0 16 16" color="red" style="cursor: pointer;">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                </svg>
                            </button>
                        </form></td>
                    </tr>
                    {% endfor %}
                    <!-- Ajoutez d'autres lignes pour plus de transactions -->
                  </tbody>
                </table>
              </div>
        </div>
    </div>
</div>
{% endblock  %}